@mixin margin-padding($min, $max, $css-property, $klass, $csspx: $min) {
  @while $min <= $max {

    @if $min != 0 {
      $csspx: $min+px;
    }

    .#{$klass}-#{$min} {
      #{$css-property}: $csspx !important;
    }

    .#{$klass}-t-#{$min} {
      #{$css-property}-top: $csspx !important;
    }

    .#{$klass}-b-#{$min} {
      #{$css-property}-bottom: $csspx !important;
    }

    .#{$klass}-l-#{$min} {
      #{$css-property}-left: $csspx !important;
    }

    .#{$klass}-r-#{$min} {
      #{$css-property}-right: $csspx !important;
    }

    $min: $min + 5;
  }
}
.p-1 {
  padding: 1px;
}
.p-3 {
  padding: 3px;
}
@include margin-padding(0, 300, margin, m);
@include margin-padding(0, 300, padding, p);
