body, html{
  height:100%;
}
body{
  font-family:"Open-Sans",sans-serif;
  font-size: 14px;
  margin:0;
}
#game{
  background-color:#E7E7E7;
  display:flex;
  flex-direction:column;
  height:100%;
}
.board{
  background-color:white;
  display:flex;
  flex-direction:column;
  height:calc(100% - 30px);
  width:calc(100% - 30px);
  margin:15px;
  box-shadow:0 0 10px #666;
}
.row{
  flex:1 1;
  display:flex;
}
.cell{
  position:relative;
  display:flex;
  flex:1 1;
  border: 1px solid #ddd;
  cursor:pointer;
}
.cell.tic, .cell.tac {
 overflow: hidden;
}
.cell.tic:before {
  content: "x";
  color: rgb(42,110,255);
}
.cell.tac:before {
  content: "o";
  color: rgb(255,42,42);
}
 /** insert point B **/
  .cell:before {
    font: bolder 60px sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -40px;
    text-align: center;
  }
  .controls {
    align-self: center;
    display: flex;
    align-items: center;
    width: calc( 100% - 30px );
    margin: 15px;
  }
  .controls .message {
    flex: 1 1;
    text-align: center;
  }
  .cell:hover {
    background-color: rgba(176, 223, 255, 0.42);
  }
  .cell.tic:hover, .cell.tac:hover, #game.finished .cell:hover {
    background-color: inherit;
    cursor: inherit;
  }
  .cell.solution, #game.finished .cell.solution:hover {
    background-color: rgb(248, 255, 173);
  }