<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MackResolve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F5CDFCA1F78A3C10064AB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5CDFDE1F78A3C20064AB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5CDFE91F78A3C20064AB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
